html, body {
            margin: 0 auto;
            height: 100%;
            width: 100%;
            padding: 0;
            font: 100% 'Helvetica Neue', Helvetica, Arial, sans-serif;
            color: #222;
        }

        #container {
            width: 100%;
            height: 100%;
            background-color: #fff;
        }

        #map {
            height: 84%;
            width: 100%;
        }

        #header {
            width: 100%;
            text-align: center;
            vertical-align: center;
            background-color: black;
            height: 80px;
            border-bottom: 3px white solid;
        }

        table {
            border-collapse: collapse;
            height: 100%;
            width: 100%;
        }

        td {
            color: white;
            border-left: 3px solid white;
            border-right: 3px solid white;
        }

        td:first-child {
            width: 150px;
            height: 100%;
        }

        #year {
            width: 250px;
        }

        #selectYear {
            width: 100%;
            height: 100%;
            font-size: 14pt;
        }

        #title {
            margin-left: auto;
            margin-right: auto;
            font-size: 25pt;
            font-weight: bold;
        }

        footer {
            width: 100%;
            vertical-align: center;
            background-color: black;
            height: 5%;
            border-top: 3px white solid;
            color: white;
            position: relative;
            bottom: 0px;
        }

        a {
            text-decoration: none;
            color: white;
        }

        ol {
            list-style: none
        }

        .time_line {
            position: absolute;
            color: white;
            left: 0;
            bottom: 15px;
            height: 5px;
            background: #ffb902;
        }

        .years {
            position: absolute;
            color: rgba(255, 255, 255, 0);
            bottom: 0;
            padding-bottom: 15px;
        }

        .years:hover {
            position: absolute;
            color: white;
			font-size:13pt;
			font-weight:bold;
			background-color:black;
            bottom: 0;
            padding-bottom: 15px;
        }

        .years:after {
            content: '';
            position: absolute;
            height: 10px;
            bottom: -5px;
            left: 30%;
            width: 10px;
            border-radius: 50%;
            background-color: #f8f8f8;
            border: 3px solid #95c91e;
        }
        
        
#loader-wrapper {
    position: fixed;
   	top: 0;
   	left: 0;
	width: 100%;
    height: 100%;
    z-index: 1000;
	}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

    z-index: 1001;
	}

#loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #e74c3c;

        -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

#loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #f9c922;

        -webkit-animation: spin 1.5s linear infinite;
          animation: spin 1.5s linear infinite;
    }

 @-webkit-keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  
            -ms-transform: rotate(0deg);  
            transform: rotate(0deg);  
        }
        100% {
            -webkit-transform: rotate(360deg); 
            -ms-transform: rotate(360deg);  
            transform: rotate(360deg);  
        }
    }
@keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  
            -ms-transform: rotate(0deg);  
            transform: rotate(0deg);  
        }
        100% {
            -webkit-transform: rotate(360deg); 
            -ms-transform: rotate(360deg);  
            transform: rotate(360deg); 
        }
    }

    #loader-wrapper .loader-section {
        position: fixed;
        top: 0;
        width: 51%;
        height: 100%;
        background: #222222;
        z-index: 1000;
        -webkit-transform: translateX(0);  
        -ms-transform: translateX(0);  
        transform: translateX(0);  
    }

    #loader-wrapper .loader-section.section-left {
        left: 0;
    }

    #loader-wrapper .loader-section.section-right {
        right: 0;
    }

    .loaded #loader-wrapper .loader-section.section-left {
        -webkit-transform: translateX(-100%);  
            -ms-transform: translateX(-100%);  
                transform: translateX(-100%);  

        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }

    .loaded #loader-wrapper .loader-section.section-right {
        -webkit-transform: translateX(100%);  
            -ms-transform: translateX(100%); 
                transform: translateX(100%); 

-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
        transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }
    
    .loaded #loader {
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;  
                transition: all 0.3s ease-out;
    }
    .loaded #loader-wrapper {
        visibility: hidden;

        -webkit-transform: translateY(-100%); 
            -ms-transform: translateY(-100%);  
                transform: translateY(-100%);  

        -webkit-transition: all 0.3s 1s ease-out;  
                transition: all 0.3s 1s ease-out;
    }
    

    .no-js #loader-wrapper {
        display: none;
    }
    .no-js h1 {
        color: #222222;
    }

    #content {
        margin: 0 auto;
        padding-bottom: 50px;
        width: 80%;
        max-width: 978px;
    }  



        }