/* this is from https://slideout.js.org/ */

.slideout-menu {
    position: fixed;
    bottom: 0;
    top:0;
    width: 256px;
    display: none;
}

.slideout-panel {
    position: relative;
    z-index: 1;
    will-change: transform;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
    overflow: hidden;
}

.slideout-open .slideout-menu {
    display: block;
}

.menu {
    background-image: linear-gradient(150deg, #000000, #373737);
}

.menu a:hover {
    text-decoration: underline;
}

.menu-header {
    border-bottom: 1px solid #2a2d2f;
    padding: 20px;
}

.menu-header-title {
    text-transform: uppercase;
    color: white;
    font-size: 24pt;
    letter-spacing: 1px;
    padding: 0;
    margin: 0;
}

.menu-section {
    margin: 25px 0;
}

.menu-section-title {
    text-transform: uppercase;
    color: grey;
    font-size: 18pt;
    letter-spacing: 2px;
    padding: 0 20px;
    margin: 0;
}

.menu-section-list {
    padding: 0 20px;
    margin: 10px 0;
    list-style: none;
}

.menu-section-list a {
    display: block;
    padding: 10px 20px;
}

.btn-burger {
    border: none;
    width: 100%;
    height: 100%;
    background-color: transparent;
    font-size: 24pt;
    color: white;
}
